{% if teams|length == 0 %}
    There are no assigned groups.
{% else %}

    <ul>
        {%  for team in teams %}
            <li>{{ team.name }} <label>
                <a href="{{ path('user_remove_group', {'group_id': team.id, 'user_id': user_id}) }}">delete</a>
            </label></li>
        {% endfor %}
    </ul>

{% endif %}
<div style="clear: both; height: 2em"></div>
<div>
    <span>Assign a new group</span>
    {{ form(form) }}
</div>