{% extends "::base.html.twig" %}

{% block title %}InternationsUmsBundle:User:list{% endblock %}

{% block body %}
    <h1>Users list</h1>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% if users|length == 0 %}
        There are no users now. You can add a new user.
    {% else %}

        <div class="list">
            {%  for user in users %}
                <div class="string">
                    <div class="info">
                        <span>{{ user.id }}</span>
                        <span>{{ user.name }}</span>
                        <span><a href="#" onclick="getGroups({{ user.id }})">show groups</a></span>
                        <span><a href="{{ path('user_delete', {'user_id': user.id}) }}">delete</a></span>
                    </div>
                    <div class="additional_info" id="additional_info_{{ user.id }}" style="display: none"></div>
                </div>
            {% endfor %}
        </div>
        <div style="clear: both; height: 2em"></div>

    {% endif %}
    <div>
        {{ form(newUserForm) }}
    </div>

    <script>
        function showGroups(html, user_id) {
            $('.additional_info').hide();
            $("#additional_info_"+ user_id).html(html).show();

        }
        function showError(xhr, status, errorThrown) {
            alert('Error in loading data');
        }
        function getGroups(user_id) {
            $.ajax({
                url: '/users_groups/' + user_id,
                type: "GET",
                dataType: "html",
                success: function( html) {
                    showGroups( html, user_id);
                },
                error: function(xhr, status, errorThrown ) {
                    showError(xhr, status, errorThrown);
                }
            });
            return false;
        }
        $(function() {
            hash = window.location.hash.substring(1);
            if ($("#" + hash).length > 0){
                user_id = hash.split("_")[2];
                getGroups(user_id);
            }
        });


    </script>
{% endblock %}
