<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <style>
            .flash-notice {color: green}
            .flash-error {color: red}
        </style>
    </head>
    <body>
    <div class="menu">
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/groups">Groups</a></li>
        </ul>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
