{% extends "::base.html.twig" %}

{% block title %}InternationsUmsBundle:Groups:list{% endblock %}

{% block body %}


<h1>Groups list</h1>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% if teams|length == 0 %}
    There are no groups now. You can add a new group.
    {% else %}

    <div class="list">
    {%  for team in teams %}
        <div class="string">
            <div class="info">
                <span>{{ team.id }}</span>
                <span>{{ team.name }}</span>
                <span><a href="#" onclick="getUsers({{ team.id }})">show users</a></span>
                <span><a href="{{ path('groups_delete', {'group_id': team.id}) }}">delete</a></span>
            </div>
            <div class="additional_info" id="additional_info_{{ team.id }}"></div>
        </div>
    {% endfor %}
</div>
<div style="clear: both; height: 2em"></div>
{% endif %}
<div>
    {{ form(newTeamForm) }}
</div>

<script>
    function showUsers(html, group_id) {
        $('.additional_info').hide();
        $("#additional_info_"+ group_id).html(html).show();

    }
    function showError(xhr, status, errorThrown) {
        alert('Error in loading data');
    }
    function getUsers(group_id) {
        $.ajax({
            url: '/groups_users/' + group_id,
            type: "GET",
            dataType: "html",
            success: function( html) {
                showUsers( html, group_id);
            },
            error: function(xhr, status, errorThrown ) {
                showError(xhr, status, errorThrown);
            }
        });
        return false;
    }
    $(function() {
        hash = window.location.hash.substring(1);

        if ($("#" + hash).length > 0){
            group_id = hash.split("_")[2];
            getUsers(group_id);
        }
    });


</script>


{% endblock %}
