{% if users|length == 0 %}
    There are no assigned users.
{% else %}

    <ul>
        {%  for user in users %}
            <li>{{ user.name }} <label>
                <a href="{{ path('groups_remove_user', {'group_id':group_id, 'user_id': user.id}) }}">remove</a>
            </label></li>
        {% endfor %}
    </ul>

{% endif %}
<div style="clear: both; height: 2em"></div>
<div>
    <span>Add a new user</span>
    {{ form(form) }}
</div>